VITE_APP_URL=https://github-ship-bots.newkubise.workers.dev
VITE_GITHUB_API_URL=https://api.github.com
VITE_GITHUB_APP_NAME=wrikka-ship-bot
VITE_GITHUB_APP_INSTALL_URL=https://github.com/apps/wrikka-ship-bot/installations/new
VITE_GITHUB_REPO_URL=https://github.com/newkub/github-ship-bots
